#main{
    width: 60%;
    height: 94%;
    position: absolute;
    background-color:rgb(245, 245, 245);
    top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#heade{
    position: relative;
    width: 100%;
}
#cor{
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    color: red;
    margin-top:2%;
    padding: 1% 2%;
}
#time{
	font-size: 30px;
	font-weight: bold;
	position: absolute;
    right: 2%;
    width:10%; 
    /* padding: 3px 15px 3px 0px; */
    height: 60px;
    background-color: antiquewhite;
}
#clock{
    position: absolute;
    right:12%;
    height: 60px;
    background-color: antiquewhite;
    /* padding: 6px 0px 3px 0px; */
}
#clock2{
    width: 50px;
    height: 50px;
}
#content{
	align-content: center;
	position: absolute;
    width: 100%;
    height: 90%;
    /* background-color: aqua; */
    top: 70px;
    display: block;
}
#set{
    height: 80%;
    width: 100%;
    /* background-color: bisque; */
    background-color: beige;
}
#Que{
    width: 100%;
    height: 40%;
    font-size: 22px;
    padding: 5px;
    background-color: beige;
}
#question{
    left:600px;
    padding: 3px;
}
#no{
    padding: 3px;
}
#imgdiv{
    padding: 3% 0%;
    /* height: 80%; */
    /* background-color: aquamarine; */
}
#mcq{
    height: 45%;
    width: 85%;
    margin: 0% 7.5%;
    display: flex;
	flex-wrap: wrap;
    align-content: space-around;
}
.op{
    display: inline;
    width: 100%;
	padding: 5px;
	background-color: rgba(255,255,255,1);
	font-size: 20px;
	align-items: center;
    cursor: pointer;  
}
.op span{
    padding-left: 1%;
}
#navig{
    width: 100%;
}
#num{
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
#but{
    left: 50%;
    width: 80%;
    position: absolute;
    transform: translateX(-50%);
}
#next{
    right: 0%;
    position: absolute;
}
#submit{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
#resultsec{
    width: 50%;
    margin: 0% auto;
}
#correctans{
    background-color:rgba(255,255,255,0.7);
    color:black;
    left: 30%;
    transform: translateX(-10%);
    /*border-radius: 50%; */
    padding: 10px;
    font-size: 25px;
    position: absolute;
    text-align: center;
    max-width: 15%;
    min-width: 10%;
}
#wrongans{
    background-color:rgba(255,255,255,0.7);
    color:black;
    right: 30%;
    transform: translateX(10%);
    padding: 10px;
    font-size: 25px;
    position: absolute;
    text-align: center;
    max-width: 15%;
    min-width: 10%;
    /*border-radius: 50%; */
}
#resultsec{
    margin-top:5%;
}
#quesection{
    position: relative;
    padding-top:30%;
}
#result{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top:50px;
}
#restart{
    left:15%;
    position: absolute;
    min-width: 100px;
}
#homes{
    right:15%;
    position: absolute;
    min-width: 100px;
}
@media screen and (max-width: 1000px) and (orientation: portrait){
    #wrongans{padding: 5px;font-size: 15px;max-width: 15%;}
    #correctans{padding: 5px;font-size: 15px;max-width: 15%;}
}
@media screen and (max-width: 800px) and (orientation: portrait){
    /* #mcq{width: 100%;margin: 0%;} */
    #main{width:80%;}
    #quesection{padding-top: 25%;}
    #opt1,#opt2,#opt3{font-size: 18px;} 
    #question{font-size: 18px;}
    #wrongans{padding: 5px;font-size: 14px;max-width: 15%;}
    #correctans{padding: 5px;font-size: 14px;max-width: 15%;}
}
@media screen and (max-width: 700px) and (orientation: portrait){
    /* #mcq{width: 100%;margin: 0%;} */
    #opt1,#opt2,#opt3{font-size: 16px;} 
    #resultsec{width:70%;}
    #question{font-size: 16px;left:400px;}
    #no{font-size: 14px;}
    #quno{padding:2px}
    #quesection{padding-top: 25%;}
    #wrongans{padding: 5px;font-size: 14px;max-width: 15%;}
    #correctans{padding: 5px;font-size: 14px;max-width: 15%;}
}
@media screen and (max-width: 600px) and (orientation: portrait){
    #main{width:80%;}
    #resultsec{width:80%;}
    #time{font-size: 26px;top: 0px;right: 2%;height: 45px;right: 2%;width:10%;}
    #clock{ right:12%;height: 45px;}
    #mcq{width: 100%;margin: 0%;}
    #img{height: 90px;width: 90px;}
    #clock2{width: 45px;height: 45px;}
    #opt1,#opt2,#opt3{font-size: 14px;}
    #content{top:70px;}
    #question{font-size: 14px;left:400px;}
    #quesection{padding-top: 25%;}
    #no{font-size: 14px;}
    #wrongans{padding: 4px;font-size: 14px;max-width: 15%;}
    #correctans{padding: 4px;font-size: 14px;max-width: 15%;}
}
@media screen and (max-width: 380px) and (orientation: portrait){
    /* #mcq{width: 100%;margin: 0%;} */
    #opt1,#opt2,#opt3{font-size: 12px;} 
    #question{font-size: 12px;}
    #time{font-size: 22px;top: 0px;right: 2%;height: 40px;right: 2%;width:10%;}
    #clock{ right:12%;height: 40px;}
    #clock2{width: 40px;height: 40px;}
    #img{height: 60px;width: 60px;}
    #quesection{padding-top: 25%;}
    #question{left:200px;}
    #wrongans{padding: 2px;font-size: 14px;max-width: 15%;}
    #correctans{padding: 2px;font-size: 14px;max-width: 15%;}
    #homes{width:25px;}
    #restart{width:25px;}
}
@media screen and (max-height: 630px){
    #num{font-size: 20px;}
    #submit{max-height: 35px;padding:1%;font-size:15px;}
    #result{max-height: 35px;padding:1%;font-size:15px;margin-top:15%;}
}
@media screen and (max-height: 520px){
    #imgdiv{
        padding: 0% 0%;
    }
    #main{width:80%;}
    #mcq{width: 100%;margin: 0%;}
    #question{font-size: 12px;}
    #num{font-size: 15px;}
    #submit{max-height: 25px;padding:0%;font-size:15px;}
    #result{max-height: 25px;padding:0%;font-size:15px;margin-top:28px;}
}
@media screen and (max-height: 520px){
    #navig{margin-top:-5%;}
    #submit{margin-top:-8%;}
    #result{margin-top:4%;}
}
@media screen and (max-height: 400px){
    body{display: none;}
}
@media screen and (max-width: 300px) and (orientation: portrait){
    body{display: none;}
}