.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
}
img{
      width: 100px;
      height: 100px;
}
.flex-container > div {
    background-color: #f1f1f1;
    margin: 2%;
    text-align: center;
    padding: 15px;
}
#tables{
      width: 60%;
      margin: 5% auto;
}
p{
    margin: 10px auto 0 auto; 
}
@media screen and (max-width: 550px){
    #tables{
        width: 80%;
        margin: 8% auto;
    }   
    .flex-container > div {
        padding: 10px 5px;
    }
}
@media screen and (max-width: 300px) and (orientation: portrait){
    body{display: none;}
}